<%= form_for([@post, @post.comments.build]) do |f| %> 

<%= f.error_messages %>

  <div class="field">
    <p id="blogbody"><%= f.label :commenter %>&nbsp;&nbsp;<%= f.text_field :commenter,  :style=>"background-color : #ffc" %></p>
  </div>
  <div class="field">
    <p id="blogbody"><%= f.label :body %></p>
	<p id="blogbody"><%= f.text_area :body,  :style=>"background-color : #ffc" %></p>
  </div>
  <br>
  <div class="actions">
    <p id="blogbody"><%= f.submit "Submit", :style=>"background-color : #ffc" %></p>
  </div>
<% end %>