
<body style="background: #ffffff; margin: 0pt;>


		   <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 0px; overflow: hidden; position: relative; word-wrap: break-word;  background: #ffffff; text-align: left; width: 700px; " id="body_content">
		   <div style="margin-left: 0px; position: relative; width: 700px; z-index: 0; " id="nav_layer">
		     
		
		   <p>
		   <p>

			<p id="navbar"><%= link_to "Home", root_path%>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Resume", resumes_path %>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Contact", contacts_path %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Blog", posts_path %></p>
		   
		   </div>
		   <br><br><br>

<p id="contactfont">
	Phone: 518-928-1819</p>
<p id="contactfont">
	Email: scottmarmul at gmail dot com
	</p>
<p> 

<p id="socialsite" ><%= link_to image_tag("facebook.png", :size => "35x35"), "https://www.facebook.com/home.php#!/profile.php?id=5308108", :target => "_blank" %>&nbsp;
<%= link_to image_tag("twitter.png", :size => "35x35"), "http://twitter.com/#!/scottymarms", :target => "_blank"%></p>

</div>