<%= form_for(@post) do |f| %>
  
    <p id="blogbody2">Name:</p>
    <p id="textboxes"><%= f.text_field :name, :class => "create_input", :style=>"background-color : #ffc"  %></p>

    <p id="blogbody3">Title:</p>
    <p id="textboxes2"><%= f.text_field :title, :style=>"background-color : #ffc" %></p>
 
    <p id="blogbody4">Content:</p>
    <p id="blogboxes"><%= f.text_area :content,  :style=>"background-color : #ffc" %></p>

  <div class="actions">
 
 <p id="createlink"><%= f.submit "Submit",  :style=>"background-color : #ffc" %></p>
  
  
  <% if @post.errors.any? %>
      <p id="errormessage"><b><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</b></p>
		<% @post.errors.full_messages.each do |msg| %>
			<p id="errormessage"><%= msg %></p>
			
		<% end %>
		
		<br><br>
	  <p id="bloglinks"><b><%= link_to "Back", new_post_path%></b>
  
  <% end %>



  
  
  </div>
<% end %>
