
			<p id="navbar2"><%= link_to "Home", root_path%>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Resume", resumes_path %>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Contact", contacts_path %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Blog", posts_path %></p>



<p id="blogicon">ScottMarmulstein.com - Blog</p>
<% @posts.each do |post| %>
<p id="blogbody"><b>Name:</b> <%= post.name %></p>
<p id="blogbody"><b>Title:</b> <%= post.title %></p>
<p id="blogbody"><b>Date:</b> <%= post.created_at %></p>
<p id="blogbodywrap"><b>Blog:</b><%= post.content %></p>
<br>
<p id="bloglinks"><%= link_to 'Show ', post %>&nbsp;&nbsp;
<%= link_to ' Edit ', edit_post_path(post) %>&nbsp;&nbsp;
<%= link_to ' Destroy', post, :confirm => 'Are you sure?', :method => :delete %></p>


<%end%>


<br>

<p id="bloglinks"><b><%= link_to 'New Post', new_post_path %></b></p>

<br><br><br><br><br><br><br><br>
<div id="paginated"><%= will_paginate @posts %>
</div>
