
	<p id="navbar"><%= link_to "Home", root_path%>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Resume", resumes_path %>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Contact", contacts_path %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Blog", posts_path %></p>
<br> 

<p id="blogicon">ScottMarmulstein.com - Blog</p>


<%= render 'form' %>


