<body style="background: #ffffff; margin: 0pt;>


		   <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 0px; overflow: hidden; position: relative; word-wrap: break-word;  background: #ffffff; text-align: left; width: 700px; " id="body_content">
		   <div style="margin-left: 0px; position: relative; width: 700px; z-index: 0; " id="nav_layer">
		     
	
			
			<p id="navbar"><%= link_to "Home", root_path%>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Resume", resumes_path %>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Contact", contacts_path %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Blog", posts_path %></p>
			<p id="picture"><%= image_tag ("grad.jpg"), :size => "260x350" %></p>
			<p id="underimage">What's in my future...</p>
		
			
			
			<p id="sidebarbody"><b>Name:</b> Scott Marmulstein </p>
		   <p id="sidebarbody"><b>Birthday:</b> August 22nd </p>
		   <p id="sidebarbody"><b>College:</b> George Washington </p>
		   <p id="sidebarbody"><b>Major:</b> Systems Engineering </p>
		   <p id="sidebarbody"><b>Minor:</b> Computer Science </p>
		   <p id="sidebarbody"><b>Graduated</b> Magna Cum Laude </p>
		   <p id="sidebarbody"><b>Recent Employer:</b> Vail Resorts </p>
		   <p id="sidebarbody"><b>Current Goal:</b> MBA </p>
		   
		   <br>
		   <p id="sidebarbody"><b>Honors:</b> <p>
		    <p id="sidebarbody">Presidential Scholarship </p>
			<br>
			<p id="sidebarbody"><b>Work Experience:</b><p>
			<p id="sidebarbody">IS Help Desk Tech - PrimeCare</p>
			<p id="sidebarbody">Legal Assistant Intern - White&Case</p>
			<p id="sidebarbody">Program Analyst - F.A.A.</p>
			<p id="sidebarbody">Consultant - CVP Corp. </p>
			<p id="sidebarbody">Snowboard Instructor - Vail Resorts</p>
			<p id="sidebarbody">Golf Operations - Red Sky Ranch </p>
			
			<br>
			<p id="sidebarbody"><b>Organizations:</b></p>
			<p id="sidebarbody">Phi Kappa Psi - Philanthropy Chair</p>
			<p id="sidebarbody">Tau Beta Pi - Engineering Honors</p>
			<p id="sidebarbody">Alpha Kappa Psi - Founding Member</p>
			
			<br>
			<p id="sidebarbody"><b>Computer Skills:</b>
			<p id="sidebarbody">Microsoft Office Products</p>
			<p id="sidebarbody">HTML</p>
			<p id="sidebarbody">Ruby on Rails</p>
			<p id="sidebarbody">Unix</p>
			<p id="sidebarbody">Java</p>
			<p id="sidebarbody">mySQL</p>
			
				<p id="underimage2">...full-time MBA</p>
			<p id="underimage2">...develop an idea for a web business</p>
			<p id="underimage2">...move to Denver</p>
			<p id="underimage2">...continue to pursue my hobbies</p>
			<p id="underimage2">...meet new people everyday</p>
			
		   